*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;

    background-color: rgba(73, 148, 2, 0.61);

}

.form-container{
    width: 100%;
    height: auto;

    padding: 1em;

    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: justify !important;
    font-size: 1.5em;
    color: black;
}

.form-label{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.3em !important;
    color: black !important;
}

.form-control{
    border-radius: 5px;
    border-color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container-card{
    padding: 16px 40px;

    background-color: whitesmoke;
}

.submit-btn{
    border-radius: 5px;
    border-color: rgba(0, 140, 255, 0.95) !important;
    background-color:rgba(0, 140, 255, 0.952);
    color: white;

    margin-top: 0.5em;
}

table{
    border:black;
    margin-top: 2em;

    align-items: center;
}


@media screen and (max-width: 867px){
    
    .form-container {
       width: 100%;
       height: auto;
    }

   }

